<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iOS Signer Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
            async></script>
    <style>
        a, a:hover {
            color: inherit;
            text-decoration: none;
        }

        .vertical-center {
            margin: 0;
        }

        .jumbotron {
            background-color: transparent !important;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark py-3">
    <div class="container px-4">
        <ol class="breadcrumb bg-transparent py-2 my-0 me-auto text-white">
            <li class="breadcrumb-item"><a href="/">iOS Signer</a></li>
        </ol>
        <a id="fileSelect" class="btn btn-outline-light my-0 ms-auto" href="#">
            Upload App
        </a>
    </div>
</nav>
<div class="modal fade" id="uploadModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="uploadForm" action="/apps" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title">Upload App</h5>
                    <button id="btnModalClose" type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">App file</label>
                        <input class="form-control" type="file" id="formFileSelect" name="{{.FormFile}}" required>
                    </div>
                    <div class="mb-3">
                        <div class="col-md-6">
                            <label for="formProfile" class="form-label">Signing profile</label>
                            <select class="form-select" id="formProfile" name="{{.FormProfileName}}" required>
                                <option selected disabled value="">Choose...</option>
                                {{range $_, $profile := .Profiles}}
                                    <option>{{$profile.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="mb-0">
                        <label class="form-label">Signing options</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formAppDebug"
                                   name="{{.FormAppDebug}}">
                            <label style="display: inline" class="form-check-label" for="formAppDebug">
                                Enable app debugging
                            </label>
                            <a style="color: blue" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Enables the get-task-allow entitlement.
                               Required by some emulators and jailbreaks.
                               Your provisioning profile must support this entitlement.">?</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formAllDevices"
                                   name="{{.FormAllDevices}}">
                            <label style="display: inline" class="form-check-label" for="formAllDevices">
                                Force enable support for all devices
                            </label>
                            <a style="color: blue" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Removes any iOS version or device model restrictions from the app.">?</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formFileShare"
                                   name="{{.FormFileShare}}">
                            <label style="display: inline" class="form-check-label" for="formFileShare">
                                Force enable file sharing through iTunes
                            </label>
                            <a style="color: blue" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Allows you to access the app's data via iTunes and other file managers.">?</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formAlignAppId"
                                   name="{{.FormAlignAppId}}">
                            <label style="display: inline" class="form-check-label" for="formAlignAppId">
                                Set bundle ID to provisioning profile's app ID
                            </label>
                            <a style="color: blue" href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Makes the app match an explicit provisioning profile, allowing entitlements to work.
                               For each profile, only one app signed this way can be installed at a time.">?</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="formFileSpinner" class="spinner-border text-primary me-3" role="status"
                         style="display: none"></div>
                    <button id="formSubmit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="jumbotron vertical-center">
    <div class="container py-4 py-xxl-5 py-xl-5 px-4">
        <div class="row" data-masonry='{"percentPosition": true, "horizontalOrder": true}'>
            {{range $_, $app := .Apps}}
                <div class="col-sm-6 col-lg-3 p-2">
                    <div class="card text-white {{if $app.IsSigned}} bg-success {{else}} bg-primary {{end}}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title" style="word-break: break-all">{{$app.Name}}</h5>
                                </div>
                                <div class="col-auto">
                                    <a class="btn-close btn-close-white p-2" href="{{$app.DeleteUrl}}"></a>
                                </div>
                            </div>
                            <p class="card-text mb-2">
                                Profile: {{$app.ProfileName}}
                                <br>
                                {{if $app.IsSigned}}Signed{{else}}Processing{{end}}
                            </p>
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    {{if $app.IsSigned}}
                                        <a class="btn btn-outline-light ms-auto me-2 mt-2"
                                           href="itms-services://?action=download-manifest&url={{$app.ManifestUrl}}">Install</a>
                                        <a class="btn btn-outline-light ms-0 mt-2"
                                           href="{{$app.DownloadUrl}}">Download</a>
                                    {{else}}
                                        <a class="btn btn-outline-light ms-auto mt-2 {{if lt (len $app.WorkflowUrl) 1}}disabled{{end}}"
                                           href="{{$app.WorkflowUrl}}">Status</a>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
</div>
</body>

<script>
    const fileSelect = document.getElementById("fileSelect")
    const formFileSelect = document.getElementById("formFileSelect");
    const formSubmit = document.getElementById("formSubmit");
    const uploadForm = document.getElementById("uploadForm");
    const formFileSpinner = document.getElementById("formFileSpinner");
    const modalElem = document.getElementById('uploadModal')
    const modal = new bootstrap.Modal(modalElem, {
        backdrop: "static",
        keyboard: false
    })
    const btnModalClose = document.getElementById('btnModalClose')
    let modalVisible = false

    fileSelect.addEventListener("click", function () {
        formFileSelect.click();
    });
    modalElem.addEventListener("hidden.bs.modal", function () {
        // allow change event to hit even if file is re-selected
        formFileSelect.value = ""
    })
    formFileSelect.addEventListener("change", function () {
        if (!modal.visible) {
            modal.show()
        }
    });
    formSubmit.addEventListener("click", function () {
        if (!uploadForm.checkValidity()) {
            uploadForm.reportValidity()
            return
        }
        formSubmit.classList.add("disabled")
        btnModalClose.classList.add("disabled")
        formFileSpinner.style.display = "inline-block"

        // https://github.com/hakimel/Ladda/issues/71
        setTimeout(function () {
            uploadForm.submit()
        }, 200)
    });

    // enable all tooltips
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</html>