<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SignTools | Install</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      window.location.href = "itms-services://?action=download-manifest&url={{.ManifestUrl}}";
    </script>
  </head>
</html>
