name: Test

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.API_GITHUB_TOKEN }}

      - name: Setup Go environment
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16.0-rc1
          stable: "false"

      - name: Program Test
        run: go test ./...

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker Build Test
        run: docker buildx build --load --tag test:test --file ./Dockerfile ./

      - name: Version
        if: github.event_name != 'pull_request'
        uses: cycjimmy/semantic-release-action@v2.5.3
        env:
          GITHUB_TOKEN: ${{ secrets.API_GITHUB_TOKEN }}
